---
import Wrapper from "../layouts/Wrapper.astro";
import Nav from "../components/nav.astro";
import SocialShare from "../components/socialShare.astro";
import Card from "../components/card.astro";

export async function getStaticPaths() {
    const allPosts = await Astro.glob('../../content/blog/*.md');

    return allPosts.map((post) => {
        const {date, page} = post.frontmatter;
        const year = date.split('-')[0];
        const month = date.split('-')[1];
        console.log(year, month, page)
        return { 
            params: { path: `${year}/${month}/${page}` },
            props: {...post}
        };
    });
}

export interface Props {
	title: string;
}

const { Content } = Astro.props;
const {title, subtitle } = Astro.props.frontmatter;
--- 


<Wrapper title={title}>
	<Nav slot="nav"/>
	<h1>{title}</h1>
	<h5 class="mt-[12px]">{subtitle}</h5>
	<div class="py-6 flex justify-between">
        <Card over="Material Context" under="00hr ago"/>
        <SocialShare />
    </div>
	<Content />
</Wrapper>
